@font-face {
  font-family: "iconfont"; /* Project id 2621457 */
  src: url('iconfont.woff2?t=1629940989911') format('woff2'),
       url('iconfont.woff?t=1629940989911') format('woff'),
       url('iconfont.ttf?t=1629940989911') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontxinlang:before {
  content: "\e720";
}

.icon-weixin:before {
  content: "\e61e";
}

.icon-toutiao:before {
  content: "\e6b9";
}

.icon-zhihu:before {
  content: "\e760";
}

.icon-in:before {
  content: "\e705";
}

.icon-tubiaoku-:before {
  content: "\e666";
}

.icon-didian:before {
  content: "\e692";
}

.icon-cuowu:before {
  content: "\e673";
}

.icon-zhuanfafasong-:before {
  content: "\e6e3";
}

.icon-bijiben:before {
  content: "\e648";
}

.icon-shoujiduoye:before {
  content: "\e690";
}

.icon-fangdajing:before {
  content: "\e641";
}

.icon-goumai1:before {
  content: "\e60e";
}

.icon-right-copy:before {
  content: "\e609";
}

.icon-yuyan:before {
  content: "\e6f2";
}

.icon-gongneng:before {
  content: "\e75a";
}

.icon-denglu:before {
  content: "\e612";
}

.icon-shoucang:before {
  content: "\e759";
}

.icon-xiala-copy-copy:before {
  content: "\e8ae";
}

.icon-xiala-copy:before {
  content: "\e608";
}

.icon-inquiry-list-follow:before {
  content: "\e606";
}

.icon-xiala2:before {
  content: "\e607";
}

.icon-wode:before {
  content: "\e603";
}

.icon-_collect_before:before {
  content: "\e605";
}

.icon-rili:before {
  content: "\e8ad";
}

.icon-shezhi:before {
  content: "\e8ac";
}

.icon-gouwuche-copy:before {
  content: "\e601";
}

.icon-gouwuche:before {
  content: "\e602";
}

.icon-gouwuche1:before {
  content: "\e68f";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-shoucangjia:before {
  content: "\e793";
}

.icon-02:before {
  content: "\e604";
}

.icon-xiala1:before {
  content: "\e647";
}

.icon-xiala:before {
  content: "\e682";
}

