#foot {
	width: 100%;
	height: 750px;
	max-width: 1920px;
	margin: 0 auto;
	/* background: #008B8B; */
}

#foot #first {
	width: 100%;
	height: 490px;
	background: #171717;
	background: url(../img/T2.png);
	background-size: cover;
	overflow: hidden;
}

#foot #first #tu {
	width: 30%;
	height: 75px;
	margin-top: 106px;
	margin-left: auto;
	margin-right: auto;
}

#foot #first #tu img {
	width: 100%;
	height: 100%;
}

#foot #first #good {
	width: 100%;
	height: 32px;
	text-align: center;
	color: hsla(0, 0%, 100%, .5);
	font-size: 24px;
	letter-spacing: 0;
	margin-top: 11px;
}

#foot #first #dl {
	margin-top: 69px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
	width: 165px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0;
	background-color: #ff3f3f;
	color: #fff;
	border-radius: 3px;
}

#foot #second {
	width: 100%;
	height: 753px;
	background: #000000;
}

#foot #second #do {
	width: 1080px;
	height: 273px;
	padding-top: 60px;
	/* background: #008B8B; */
	box-sizing: border-box;
	padding-bottom: 40px;
	border-bottom: 1px solid #353338;
	margin: 0px auto;
}

#foot #second #do #dy {
	width: 20%;
	height: 100%;
	float: left;
}

#foot #second #do #dy li {
	/* width: 200px;
				height: 22px; */
	list-style: none;
	/* float: left; */
	/* background: #0000FF; */
	margin-left: 10px;
	/* position: relative; */
}

#foot #second #do #dy li span {
	display: block;
	/* position: absolute; */
	font-size: 18px;
	color: #F0FFFF;
}

#foot #second #do #dy li a {
	text-decoration: none;
	color: #8b8a8c;
	font-size: 15px;
	display: block;
	margin-top: 5px;
}

#foot #second #do #dy li a:hover {
	color: red;
}

#foot #second #dt {
	width: 1080px;
	height: 259px;
	padding-top: 60px;
	/* background: #008B8B; */
	box-sizing: border-box;
	padding-bottom: 40px;
	border-bottom: 1px solid #353338;
	margin: 0px auto;
	position: relative;
}

#foot #second #dt div {
	width: 12%;
	height: 200px;
	margin-right: 50px;
	float: right;
	margin-top: -25px;
}

#foot #second #dt div p {
	color: #ffffff;
	font-size: 18px;
}

#foot #second #dt div img {
	margin-top: 10px;
	width: 100%;
	height: 70%;
}

#foot #second #dt #de {
	width: 30%;
	height: 100%;
	/* float: left; */
	margin-top: 10px;
	float: left;
}

#foot #second #dt #de li {
	/* width: 200px;
				height: 22px; */
	list-style: none;
	float: left;
	/* background: #0000FF; */
	margin-left: 10px;
	color: #8b8a8c;
}

#foot #second #dt #de li span {
	position: absolute;
	top: 40px;
	font-size: 18px;
	color: #F0FFFF;
}

#foot #second #dt #de li a {
	text-decoration: none;
	color: #8b8a8c;
	font-size: 15px;
	display: block;
	margin-top: 5px;
}

#foot #second #dt #de li a:hover {
	color: red;
}

#foot #second #dr {
	width: 1080px;
	height: 220px;
	padding-top: 60px;
	/* background: #008B8B; */
	box-sizing: border-box;
	padding-bottom: 40px;
	border-bottom: 1px solid #353338;
	margin: 0px auto;
	position: relative;
}

#foot #second #dr #ban {
	width: 660px;
	/* height: 60px; */
	float: right;
	/* background: #0000FF; */
	color: #8b8a8c;
	font-size: 13px;
}

#foot #second #dr #ban a {
	text-decoration: none;
	color: #8b8a8c;
}
