*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	background:#1D1C1F;
}
/* 头部 */
.header{
	width: 100%;
	height: 80px;
	background:#26252B;
	display: flex;
	justify-content: center;
}
.h_text{
	height: 100%;
	width: 1080px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-flow: row;
}
.header-logo{
	width: 200px;
	height: 36px;
}
.header-logo>img{
	width: 100%;
	height: 100%;
}
.header-nav{
	height:100%;
	/* width: 730px; */
	flex: 1 1;
}
.nav_list{
	padding-left: 10%;
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
}
.nav_li{
	list-style: none;
	float: left;
	width: auto;
	height: 80px;
	line-height: 80px;
	padding: 0px 25px;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
}
.nav_li a{
	float: left;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
}
.nav_list li img{
	width: 12px;
	height: 12px;
}
.nav_nav,
.nav_nav2{
	display: none;
	position: absolute;
	top: 80px;
	left: 0;
	width: 184px;
	height: auto;
	border-top: 8px solid #1D1C1F;
	background:rgba(42,42,51,.9);
	z-index: 10;
}
.nav_nav2{
	width: 128px;
}
.nav_nav>ul,
.nav_nav2>ul{
	float: left;
}
.nav_nav>ul>li,
.nav_nav2>ul>li{
	text-align: center;
	line-height: 40px;
	display: block;
	list-style: none;
	width: auto;
	height: auto;
	padding: 0px 18px;
}
.nav_nav2>ul>li{
	padding: 0px 18px;
}
.nav_nav>ul>li>span,
.nav_nav2>ul>li>span{
	font-size: 14px;
	color: #FFFFFF;
}
.nav_nav>ul>li>span:hover,
.nav_nav2>ul>li>span:hover{
	color: #ff3f3f;
}
.nav_hover:hover>.nav_nav,
.nav_hover:hover>.nav_nav2{
	display: block;
}
.Downloadbtn{
	width: 120px;
	height: 40px;
	text-align: center;
	border-radius: 8px 0 8px 0;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	letter-spacing: 0;
	background-color: #ff3f3f;
}
.Downloadbtn:hover{
	background-color: #ff5252;
}

/* 中间 */
.center{
	width: 1080px;
	height: auto;
	margin: 0 auto;
	/* background:#1D1C1F; */
	/* background-color: #aaff00; */
	display: flex;
	justify-content: center;
}
/* 导航栏 */
.center_box{
	width: 100%;
	height: auto;
	max-width: 1440px;
	min-width: 1080px;
	}

/* 头部导航栏 */ 
.center_nav{
	width: 100%;
	height: 70px;
	line-height: 70px;
	z-index: 99;
	background-color: #1D1C1F;
	/* background-color: #ffaa00; */
}
.center_nav ul li{
	cursor: pointer;
	list-style: none;
	float: left;
}
.center_nav ul li span{
	margin-right: 74px;
	color: #FFFFFF;
	font-size: 14px;
}

/* 轮播图 */
.center_swiper{
	width: 100%;
	height: auto;
}
.swiper-container{
	position: relative;
	width: 100%;
	max-width: 1440px;
	height:auto;
	box-sizing: border-box;
}
.swiper-slide{
	height:auto;
	position: relative;
	cursor: pointer;
/*    background: #fff; */
 }
.swiper-slide>img{
	max-width: 1440px;
	min-width: 500px;
	width: 100%;
}
.swiper-text{
	top: 80px;
	left: 0;
	width: 100%;
	height: auto;
	padding: 0 100px;
	box-sizing: border-box;
	position: absolute;
	z-index: 10;
}
.swiper_title,
.swiper_title2{
	font-size: 60px;
	color: #fff;
	text-align: right;
	width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	margin-bottom: 10px;
    text-shadow: 0 0 10px rgb(0 0 0 / 65%);
}
.swiper_title2{
	font-size: 30px;
	margin-bottom: 60px;
}
.swiper_title3{
	text-align: left;
}
.swiper_Downloadbtn{
	width: 100%;
}
.swiper_Downloadbtn>span{
	float: right;
	display: block;
	width: 200px;
    height: 60px;
    text-align: center;
    border-radius: 12px 0 12px 0;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
    line-height: 60px;
    letter-spacing: 0;
    background-color: #ff3f3f;
}
.swiper_Downloadbtn2>span{
	float: left;
}
.swiper_Downloadbtn>span:hover{
	background-color: #ff5252;
}
.swiper-pagination-bullet{
	width: 26px;
	height: 4px;
	border-radius: 0px;
	background: #ffffff;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background-color: #FF3F3F;
}
.swiper-button-next,
.swiper-button-prev{
	color: #FFFFFF;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
	color: #FF3F3F;
}

/* <!-- 热门游戏 --> */
.center_hotgame{
	margin-top: 50px;
	width: 100%;
	height: 527px;
	/* background-color: #aa5500; */
}
.hotgame_title{
	width: auto;
	height: auto;
}
.hotgame_title>span{
	cursor: pointer;
	display: block;
	width: auto;
	height: 33px;
	font-weight: bold;
	font-size: 24px;
    line-height: 33px;
	color: #FFFFFF;
	margin-bottom:27px ;
}
.hotgame_box{
	height: 407px;
	width: 100%;
	/* background-color: #007AFF; */
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.hotgame_box>li{
	width: 258px;
	height: 100%;
}
.hotgame_img{
	width: 100%;
	height: 344px;
	position: relative;
}
.hotgame_img>img{
	width: 100%;
	height: 100%;
}
.hotgame_img:hover>.hotgame_img_text{
	opacity: 1;
}
.hotgame_img_text{
	transition: all 0.5s;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: rgba(0,0,0,.5);
}
.hotgame_img_text2{
	width: 220px;
	height: 214px;
	margin: 130px auto 0;
}
.hotgame_img_text3{
	width: 100%;
	font-size: 14px;
	height: 174px;
	line-height: 25px;
	color: #FFFFFF;
	text-overflow: ellipsis;
	/* white-space: nowrap; */
	overflow: hidden;
	-webkit-line-clamp: 7;
	display: -webkit-box;
    -webkit-box-orient: vertical;
}
.hotgame_img_text4{
	font-size: 14px;
    color: #ff3f3f;
    text-align: right;
    height: 40px;
    line-height: 30px;
    box-sizing: border-box;
}
.hotgame_download{
	margin-top: 17px;
	width: 100%;
	height: 46px;
	/* background-color: #AAFF00; */
	cursor: pointer;
}
.hotgame_dl{
	float: left;
	width:168px;
	height: 100%;
	/* background-color: #aa00ff; */
}
.hotgame_dl_img{
	margin-top: 4px;
	width: 40px;
	height: 40px;
	float: left;
}
.hotgame_dl_text{
	width: 120px;
	height: 100%;
	float: right;
}
.hotgame_dl_text>p{
	display: block;
	width: 100%;
	font-size: 18px;
    color: #fff;
    letter-spacing: 0;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hotgame_dl_text>p:hover{
	color: #ff3f3f;
}
.hotgame_dl_text>span{
	margin-top: 1px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: hsla(0,0%,100%,.5);
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hotgame_dr{
	width: 90px;
	height: 100%;
	float: right;
	/* background-color: #1D1C1F; */
}
.hotgame_dr>span{
	display: block;
	width: 84px;
	margin: 5px auto 0;
	height: 36px;
	line-height: 36px;
	color: #FFFFFF;
	border-radius: 8px 0 8px 0;
    text-align: center;
    background-color: #ff3f3f;
}
.hotgame_dr>span:hover{
	background-color: #ff5252;
}

/* <!-- 角色扮演 --> */
.role_playing{
	width: 100%;
	height: auto;
	clear: both;
	/* background-color: #aaff00; */
}
.hotgame_title2>span{
	margin-bottom: 0;
}
.role_app{
	width: 100%;
	height: auto;
	margin-bottom: 60px;
	background-color: #1D1C1F;
}
.role_app::after{
	content: "";
	display: block;
	clear: both;
}
.role_app_box>li{
	cursor: pointer;
	width: 168px;
	float: left;
	padding-right: 14px;
	height: 264px;
	display: block;
	list-style: none;
	/* background-color: olive; */
}
.role_app_box>li:nth-child(6n){
	padding-right: 0px;
}
.roleapp_box{
	width: 100%;
	height: 160px;
	margin-top: 104px;
	padding: 54px 5px 0;
	box-sizing: border-box;
	background-color: #2e2e33;
	position: relative;
	transition: all .3s;
	position: relative;
}
.roleapp_box:hover{
	background-color: #42424c;
}
.roleapp_box:hover>.roleapp_box_txet2{
	background-color:#FF3F3F;
}
.roleapp_box:hover>.roleapp_text,
.roleapp_box:hover>.roleapp_text2{
	display: block;
}
.roleapp_text,
.roleapp_text2{
	display: none;
	transition: all .3s;
	width:290px;
	height: 250px;
	position: absolute;
	top: 0px;
	z-index: 11;
	background-color: #42424c;
	padding: 10px;
	box-sizing: border-box;
}
.roleapp_text1{
	left:168px;
	border-left:10px solid #1D1C1F;
}
.roleapp_text2{
	right:168px;
	border-right:10px solid #1D1C1F;
}
.roleapp_text1>p,
.roleapp_text2>p{
	width:100% ;
	height: 200px;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.roleapp_text1>span,
.roleapp_text2>span{
	width: 100%;
	height: 30px;
	font-size: 14px;
	line-height: 40px;
	color: #ff3f3f;
	text-align: right;
	/* background-color: antiquewhite; */
	display: block;
}
.roleapp_box_img{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 96px;
	height: 96px;
}
.roleapp_box_img img{
	width: 100%;
	height: 100%;
}
.roleapp_box_txet{
	/* margin-top: 58px; */
	width: 100%;
	height: 50px;
}
.roleapp_box_txet>p,
.roleapp_box_txet>span{
	height: 26px;
	width: 100%;
	text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.roleapp_box_txet>span{
	display: block;
	margin-top: 4px;
    height: 20px;
    font-size: 14px;
    color: hsla(0,0%,100%,.5);
	height: 20px;
	line-height: 20px;
	width: 100%;
}
.roleapp_box_txet2{
	margin: 10px auto 0;
	color: #FFFFFF;
	text-align: center;
	width: 84px;
	height: 36px;
	line-height: 36px;
	border-radius: 8px 0 8px 0;
	font-size: 14px;
	background-color:#42424c;
	transition: all .3s;
}

/* 脚部 */
.footer{
	width: 100%;
	height: 200px;
	background:#000;
}

/* 回到顶部/ */
.goTop{
	display: none;
	position: fixed;
	bottom: 80px;
	right: 80px;
	width: 52px;
	height: 52px;
	background-image: url(../img/game_gotop.png);
	background-size: 100% 100%;
	cursor: pointer;
}
.goTop:hover{
	background-image: url(../img/game_gotop2.png);
}